.availCards{
    position: absolute;   
    background-color: #FFFFFF;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', sans-serif !important;
    box-shadow: 0px 2px 4px rgba(196, 196, 196, 0.4);
    margin-top: 2%;
    border: 1px solid;
    z-index: 2;
}


.availCards_row-1{
    margin-top: 16.42px;
    margin-left: 15px;
    text-align: left;
}

.availCards_row-2{
    margin-top: 23.05px;
}

.availCards_row-3{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.availCards_row-4{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.Cards_avail{
width: 85px;
height: 20.53px;
text-align: left;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 20px;
color: #6A6464;
}

hr {
    
    margin-right: 17px;
    margin-left: 79px;
 }
.Today{
   
    width: 67px;
    height: 70px;
    margin-left: 84px;
    margin-right: 98px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

.Today:hover{
    text-decoration: none;
}

.Tomo{

    text-decoration: none;
    margin-left: 84px;
    margin-right: 98px;
width: 67px;
height: 70px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;

}
.Tomo:hover{
    text-decoration: none;
}


.Cards_button_div{
    display: flex;
    justify-content: space-evenly;
}

.Mon{
    width: 25px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: black;
    margin-right: 5px;
    border: none;
    
}

.Mon:hover{
    text-decoration: none;
}

.Tue{
    width: 25px;
height: 26px;
 
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;
margin-right: 5px;
color: #6B6B6B;
}

.Wed{
    width: 25px;
height: 26px;
margin-right: 5px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;

color: #6B6B6B;
}

.Thur{
    width: 25px;
height: 26px;
margin-right: 5px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;

color: #6B6B6B;
}

.Fri{
    width: 25px;
height: 26px;
margin-right: 5px; 
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;

color: #6B6B6B;
}

.Sat{
    width: 25px;
height: 26px;
margin-right: 5px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;

color: #6B6B6B;
}

.Sun{
    width: 25px;
height: 26px;
margin-right: 5px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;

color: #6B6B6B;
}


.Cards_morn {
    
width: 59px;
height: 31px;

background: rgba(196, 196, 196, 0.5);
border-radius: 10px;

font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 13px;
margin-right: 21px;
color: #4B4B4B;

}


.Cards_after{
    
    width: 59px;
    height: 31px;
    
    background: rgba(196, 196, 196, 0.5);
    border-radius: 10px;
margin-right: 21px;
    
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 13px;

color: #4B4B4B;
}


.Cards_even {

width: 59px;
height: 31px;

background: rgba(196, 196, 196, 0.5);
border-radius: 10px;


font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 13px;

color: #4B4B4B;
}