
 
.navbar_div{
    background-color: wheat !important;
} 


.navbar{
    background-color: #000000 !important;
    height: 100px;
    vertical-align: bottom;
    align-items: flex-end !important;
    padding: 0.5rem 4.5rem 0.6rem 4.5rem !important;
}

.nav-link{
    margin-right: 40px;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff !important;
}

