html {
  scroll-behavior: smooth;
}

.parallax {
    min-height: 500px; 
    background-image: url('./images/pic.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 315px;
    background-position-y: 100px;
    background-color: black;
    position: sticky;
    
}

#hey{
  font-size: 20px;
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.first_search_row{
    margin-left: 85px !important;
    margin-right: 85px !important;  
}

.has-search .form-control {
    padding-left: 2.375rem;
}

    /* the search icon */
    .fa{
    font-size: 20px !important;
    }

  .input{
      margin: auto;
      align-items: center;
  }

  .cityandlocality_colInFilter{
    display: flex; 
    justify-content: start;
    max-width: 20% !important;
  }

  .search_city_col{
      padding-right: 0px !important;
      padding-left: 0px !important ;
      display: flex;
  }

/* search icon of city field */
.has-search .form-control-city {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    /* margin-right: 30% !important;*/
    margin-left: 0% !important;
    padding-top: 10px !important;
}

  .search_city{
    border-radius: 20px !important;
    width: 180px !important;
    height: 60px !important;
  }

  .search_cityInFilter{
    border-radius: 15px !important;
    width: 130px !important;
    height: 40px !important;
  }

  .detect_location{
    text-align: center;
  }


  /* search icon of locality field */
.has-search .form-control-locality {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
 /* margin-right: 30% !important; */
    margin-left: 5% !important;
    padding-top: 10px !important;
}

  .search_locality{
    border-radius: 20px !important;
    width: 180px !important;
    height: 60px !important;
    margin-left: 20px;
  }

  .search_localityInFilter{
    border-radius: 15px !important;
    width: 130px !important;
    height: 40px !important;
    margin-left: 20px;
  }


  .doctor_colInFilter{
    display: flex;

  }
  
  /* search icon of doctors field */
  .has-search .form-control-doctors {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
 /* margin-right: 30% !important; */
    margin-left: 13% !important;
    padding-top: 10px !important;

}

  .search_doctors{
      border-radius: 20px !important;
      width: 770px !important;
      height: 60px !important;
      margin-left: 14% !important;
      transition: 0.2s;
}

.search_doctorsInFilter{
  border-radius: 15px !important;
  width: 270px !important;
  height: 40px !important;
  /* margin-left: 14% !important; */
  transition: 0.2s;
}
    

  .react-autosuggest__container {
    position: relative;
  }
  
 
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    padding-top: 20px;
    top: 40px;
    width: 770px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 14%;
    border-top: none;
    z-index: 1;
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 40px;
    border-top: 1px solid #eee  ;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
    border-radius: 20px;
  }
  
  .filter_row{
    top: 0;
    background-color: transparent;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 5;
    position: -webkit-sticky;
    height: 100px;
    margin-top: 0px;
    width: 100%;
    display: flex;
    padding-top: 20px;
  }

.Cards_container{
        justify-content: center;
        position: relative;
        padding-right: 85px !important;
        padding-left: 85px !important;
        padding-top: 80px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', sans-serif !important;
        max-width: 95vw;
	      height: 100vh;
	      
      }

.Cards_heading{
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    margin-left: 20px;
    margin-bottom: 57px;
}

.row_of_cards{
    margin-bottom: 25px;
    z-index: 1;  
    position: absolute;
  }
